<div class="card text-center">
    <div class="card-header">
        登录
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >账号</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >密码</span>
            </div>
            <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
        </div>
        <a href="javascript:login()" class="btn-sm btn-outline-secondary">登录</a>
        <a href="javascript:gonologin()" class="btn-sm btn-outline-secondary" >返回个人信息</a>
    </div>
</div>