<style type="text/css">
    .replyinfo>ul{
        padding-left: 0px;
        font-family: "Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif;
        color: #999;
        font-size: .8em;
    }
    .card-body{
        border-bottom: 1px solid #eee;
    }
    .truenameIcon, .createdIcon{
        margin:0 8px 0 0;
        display: inline;
    }
    .createdIcon{
        padding-left: 12px;
        border-left: 1px solid #EEE
    }
</style>
<div class="detailContent">
    
</div>