<style type="text/css">
    .replyinfo>ul{
        padding-left: 0px;
        font-family: "Droid Serif",Georgia,"Times New Roman","PingFang SC","Hiragino Sans GB","Source Han Sans CN","WenQuanYi Micro Hei","Microsoft Yahei",serif;
        color: #999;
        font-size: .8em;
    }
    .card-body{
        border-bottom: 1px solid #eee;
    }
    .truenameIcon, .createdIcon{
        margin:0 8px 0 0;
        display: inline;
    }
    .createdIcon{
        padding-left: 12px;
        border-left: 1px solid #EEE
    }
</style>
<div class="detailContent">

</div>
<script type="text/javascript">
    /*简介*/
    $(function(){
        let id = 1;
        $.ajax({
            type: "get",
            dataType: "json",
            data: {'id':id},
            url: "/web/blog/publicDetail",
            async: true,
            success: function (result) {
                if(result.error == 0){
                    let html =  "<div class='col-md-12 text-center'>\n" +
                        "            <h2><b>"+result.data.data.title+"</b></h2>\n" +
                        "        </div><br/><br/>"
                    html += result.data.data.original_content;
                    console.log(html);return false;
                    let comment_body = "";
                    $.each(result.data.comment,function(){
                        comment_body += "<div class='card-body'>\n" +
                            "            <div class='row'>\n" +
                            "                <div class='col-lg-1 col-2' style='text-align: center'>\n" +
                            "                    <img style='width: 48px;' class='rounded-circle' src='"+this.avatar+"'>\n" +
                            "                </div>\n" +
                            "                <div class='col-lg-10 col-9'>\n" +
                            "                    <div class='replyinfo'>\n" +
                            "                        <ul>\n" +
                            "                            <li class='truenameIcon'>昵称: "+this.nickname+"</li>\n" +
                            "                            <li class='createdIcon'>时间: "+this.created_at+"</li>\n" +
                            "                        </ul>\n" +
                            "                    </div>\n" +
                            "                    <div class=''>"+this.content+"</div>\n" +
                            "                </div>\n" +
                            "            </div>\n" +
                            "        </div>"
                    })
                    let comment_add = "<div class='card-body'>\n" +
                        "            <form action='' method='post'>\n" +
                        "                <textarea id='firstComment' class='form-control' rows='4'></textarea>\n" +
                        "                <div class='text-center'>\n" +
                        "                    <button type='button' class='btn btn-secondary btn-sm' onclick='addComment()' style='margin-top:10px'>评论</button>\n" +
                        "                </div>\n" +
                        "            </form>\n" +
                        "        </div>";
                    let comment_content = "<div class='card'>\n" +
                        "        <div class='card-header'>\n" +
                        "            评论\n" +
                        "        </div>"+ comment_add + comment_body + "</div>"
                    html += comment_content;
                    $("div.detailContent").empty();
                    $("div.detailContent").append(html);
                    $("div.detailContent").data("id",id)
                    //Prism.highlightAll()
                }
            }
        });
    })
</script>