<!--<!DOCTYPE html>-->
<!--<script type="text/javascript" src="../assets/js/Common.js"></script>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>玲の百草园</title>
    <link rel="icon" href="http://head.xxroom.xyz/FnUQ7IFfcrP6i0XVHtDdJ5vLwhdV" type="image/x-icon">
    <link rel="shortcut icon" href="http://head.xxroom.xyz/FnUQ7IFfcrP6i0XVHtDdJ5vLwhdV" type="image/x-icon">
    <script type="text/javascript" src="../assets/js/Common.js"></script>
</head>
<body>
<div class="mainHeader" style="height: 60px"></div>
</body>
</html>

<link rel="stylesheet" href="/assets/editormd/css/editormd.css" />
<script src="/assets/editormd/lib/marked.min.js"></script>
<script src="/assets/editormd/lib/prettify.min.js"></script>
<script src="/assets/editormd/lib/raphael.min.js"></script>
<script src="/assets/editormd/lib/underscore.min.js"></script>
<script src="/assets/editormd/lib/sequence-diagram.min.js"></script>
<script src="/assets/editormd/lib/flowchart.min.js"></script>
<script src="/assets/editormd/lib/jquery.flowchart.min.js"></script>
<script src="/assets/editormd/editormd.js"></script>
<style type="text/css">
    @media (min-width: 992px) {
        .categoryStyle,.listsStyle{
            position:fixed;
        }
    }
</style>
<div class="row" style="margin: 3vh 0 0 0 ">
    <div class="d-sm-none d-none"  id="ListSwitch" style="position: fixed;opacity: 0.5;z-index: 1000">
        <button class="btn btn-sm btn-secondary" onclick="javaScript:OpenList()">打开列表</button>
    </div>
    <div class="col-lg-1 col-3 categoryStyle cateItem d-none d-lg-block" style="overflow: scroll;height:90%">
        <div class="category"></div>
    </div>
    <div class="col-lg-2 offset-lg-1 col-12 listsStyle listItem" style="overflow: scroll;height:90%">
        <div class="lists"></div>
    </div>
    <div class="col-lg-8 offset-lg-3 col-12 detailItem">
        <div class="detail"></div>
    </div>
    <div class="col-lg-1 offset-lg-11 offset-10 col-2 d-none d-lg-block" style="position:fixed;">
        <button class="btn btn-sm btn-light left" id="shrink" style="font-size:25px;border: 0px;box-shadow:0 0 0 0 " onclick="javascript:shrink(this);">
            <img style="width:22px" src="/assets/images/icons/arrows-fullscreen.svg">
        </button>
        <button class="btn btn-sm btn-light left" style="font-size:25px;border: 0px;box-shadow:0 0 0 0 " onclick="javascript:window.scrollTo(0,0);">
            <img style="width: 25px" src="/assets/images/icons/arrow-bar-up.svg">
        </button>
    </div>
</div>

<script>
    $(function(){
        $(".mainHeader").load('header.html');
        category();
        lists();
        detail();
    })
    /*显示博客列表*/
    function showLists(categoryId=0,page=1,limit=10){
        let key = $("#key").val();
        $.ajax({
            type: "get",
            dataType: "json",
            data: {'key':key,'categoryId':categoryId,'page':page,'limit':limit},
            url: "/web/blog/lists",
            async: true,
            success: function (result) {
                if(result.error == 0){
                    let html = '<div id="pagination"></div>\n';
                    $.each(result.data.data,function(){
                        let category_html = '';
                        let href_html = this.private == 0 ? "" :
                            "<div style='display: inline;float: right'><button class='btn btn-default btn-sm'><a href='blogview.html?id="+this.id+"' target='_blank'>" +
                            "<img src='../assets/images/icons/cursor.svg' alt='查看' width='15' height='15' title='查看'></a></button></div>"

                        $.each(this.category,function(){
                            category_html += "<a href='javascript:showLists("+this.id+")'>"+this.title+"</a> "
                        })
                        html += "<div class='blogList'>\n" +
                            "        <h4 class='title'><a href='javascript:showDetail("+this.id+")'>"+this.title+"</a>"+href_html+"</h4>\n" +
                            "        <ul>\n" +
                            "            <li class='truenameIcon'>"+this.nickname+"</li>\n" +
                            "            <li class='categoryIcon'>"+category_html+"</li>\n" +
                            "            <li class='createdIcon'>"+this.update_at+"</li>\n" +
                            "            <li class='badge badge-pill badge-light'>"+this.view+"次阅读</li>\n" +
                            "        </ul>\n" +
                            "    </div>"
                    })
                    $("div.listsContent").empty();
                    $("div.listsContent").append(html);

                    $('#pagination').pagination({
                        pageSize: limit,                            // 单页容量
                        page: page,                                 // 当前页
                        totalRows: result.data.total,                           // 总条数
                        previous: '&laquo;',
                        next: '&raquo;',
                        debug: false,                           // 调试模式量默false
                        onClickPage: function(){
                            let targetPage = $(this).data('page'); //目标页
                            showLists(categoryId,targetPage,limit);
                        }                         // 分页按钮回调函数
                    });
                }
            }
        });
    }
    function showDetail(id){

        $.ajax({
            type: "get",
            dataType: "json",
            data: {'id':id},
            url: "/web/blog/publicDetail",
            async: true,
            success: function (result) {
                if(result.error == 0){
                    let html =  "<div class='col-md-12 text-center'>\n" +
                        "            <h2><b>"+result.data.data.title+"</b></h2>\n" +
                        "        </div><br/><br/>"
                    html += "<div id='detailContent'><textarea style='display:none;'>"+result.data.data.original_content+"</textarea></div>";
                    let comment_body = "";
                    $.each(result.data.comment,function(){
                        comment_body += "<div class='card-body'>\n" +
                            "            <div class='row'>\n" +
                            "                <div class='col-lg-1 col-1' style='text-align: center;padding: 0'>\n" +
                            "                    <img style='width:100%;max-width: 48px' class='rounded-circle' src='"+this.avatar+"'>\n" +
                            "                </div>\n" +
                            "                <div class='col-lg-11 col-11'>\n" +
                            "                    <div class='replyinfo'>\n" +
                            "                        <ul>\n" +
                            "                            <li class='truenameIcon'>昵称: "+this.nickname+"</li>\n" +
                            "                            <li class='createdIcon'>时间: "+this.created_at+"</li>\n" +
                            "                        </ul>\n" +
                            "                    </div>\n" +
                            "                    <div class=''>"+this.content+"</div>\n" +
                            "                </div>\n" +
                            "            </div>\n" +
                            "        </div>"
                    })
                    let comment_add = "<div class='card-body'>\n" +
                        "            <form action='' method='post'>\n" +
                        "                <textarea id='firstComment' class='form-control' rows='4'></textarea>\n" +
                        "                <div class='text-center'>\n" +
                        "                    <button type='button' class='btn btn-secondary btn-sm' onclick='addComment()' style='margin-top:10px'>评论</button>\n" +
                        "                </div>\n" +
                        "            </form>\n" +
                        "        </div>";
                    let comment_content = "<div class='card'>\n" +
                        "        <div class='card-header'>\n" +
                        "            评论\n" +
                        "        </div>"+ comment_add + comment_body + "</div>"
                    html += comment_content;
                    $("div.detailContent").empty();
                    $("div.detailContent").append(html);
                    editormd.markdownToHTML("detailContent",{
                        htmlDecode      : "style,script,iframe",
                        //emoji           : true,
                        //taskList        : true,
                        //tex             : true,  // 默认不解析
                        //flowChart       : true,  // 默认不解析
                        //sequenceDiagram : true  // 默认不解析
                    })
                    $("div.detailContent").data("id",id)
                    // editorInit('firstComment')
                }
            }
        });
        //小屏
        let screenWidth = document.body.clientWidth;
        if(screenWidth < 768){
            $(".listItem").addClass("d-none");
            $(".detailItem").removeClass("d-none");
            $("#ListSwitch").removeClass("d-none");
        }
    }
    function OpenList(){
        $(".listItem").removeClass("d-none");
        $(".detailItem").addClass("d-none");
        $("#ListSwitch").addClass("d-none");
    }
    /*搜搜*/
    function Search(){
        let categoryId = $(".list-group-item.active").data('id');
        showLists(categoryId);
    }

    function changeCategoryActive(id=0){
        let categoryClass = 'category_'+id;
        $(".list-group-item").removeClass("active");
        $("."+categoryClass).addClass("active")
    }
    /*评论*/
    function addComment(){
        let blog_id = $("div.detailContent").data("id");
        let content = $("#firstComment").val();
        if(content == '' || content==undefined){
            alert('评论不能为空');
            return false;
        }
        $.ajax({
            type:"post",
            url:'/web/qa/addComment',
            data:{"blog_id":blog_id,"content":content},
            beforeSend: function(request) {
                request.setRequestHeader("Token", getToken());
            },
            async:true,
            dataType:"json",
            success:function(result){
                if(result.error == 0){
                    alert(result.msg);
                    showDetail(blog_id);
                }else{
                    alert(result.msg);
                }
            }
        })
    }
    /*分类*/
    function category(){
        $(".category").load("blog/category.html");
    }
    /*列表*/
    function lists(){
        $(".lists").load("blog/lists.html");
    }
    /*详情*/
    function detail(){
        $(".detail").load("blog/detail.html");
    }
</script>