<!--<script type="text/javascript" src="../assets/js/Common.js"></script>-->
<style type="text/css">
    .rounded-pill{
        height: 50px;
        margin: 3px;
    }
    .rounded{
        height: 50px;
    }
    .left{
        float: left;
    }
    p.left{
        padding: 0 6px 3px 3px;
        color: white!important;
    }
   .rounded-lg{
       width: 225.6px;
       height: 225.6px;
       padding: 10px;
   }
   @media screen  and (max-width:746px) {
       .rounded-lg{
           width: 142px;
           height: 142px;
           padding: 10px;
       }
   }
</style>
<!--<div class="row d-none d-sm-block">-->
    <div class="jumbotron jumbotron-fluid" style="background-image:url('http://head.xxroom.xyz/Fmyh0wc_H97Wpjydm4Y2jgCKft1y');color:white">
        <div class="container">
            <h2 style='font-weight: 300;line-height: 1.2;'>
                「 玲の百草园 」
            </h2>
            <p class="lead">talk is cheap, show me the code</p>
            <p class="lead">博客、导航、图库、文件系统...</p>
        </div>
    </div>
<!--</div>-->
<div class="container">

    <div class="row" style="margin: 1vh 0 0 0">
        <div class="rounded-pill" style="background-color: #5b4282;">
            <a href="https://v4.bootcss.com/docs/getting-started/introduction/">
                <img width="50"  src="http://head.xxroom.xyz/FsVpxjJSV3KOQ9D4IkyqE93cjAvp" class="rounded left" >
                <p class="left" style="line-height: 50px"> Bootstrap4文档</p>
            </a>
        </div>
        <div class="rounded-pill" style="background-color: #354a5e;">
            <a href="https://cn.vuejs.org/v2/guide/">
                <img width="50"  src="http://head.xxroom.xyz/FsBB3qUm3CJnZ0OAYNXdTr0EDgWH" class="rounded left" >
                <p class="left" style="line-height: 50px"> Vue文档</p>
            </a>
        </div>
    </div>
    <div class="row" style="margin: 1vh 0 0 0">
        <div class="rounded-pill" style="background-color: #008de6">
            <a href="https://wiki.swoole.com/#/">
                <img width="50"  src="http://head.xxroom.xyz/FhNBum-vhnL214ZJwNU8SUOSM36k" class="rounded left" >
                <p class="left" style="line-height: 50px"> Swoole4文档</p>
            </a>
        </div>
        <div class="rounded-pill" style="background-color: #20dcf5">
            <a href="https://www.swoft.org/documents/v2/index.html">
                <img width="50" height="50"  src="http://head.xxroom.xyz/FiZJ7KkITUxvBUKzWf2pVOnnNzEi" class="rounded left" >
                <p class="left" style="line-height: 50px;color:black!important;"> Swoft文档</p>
            </a>
        </div>
        <div class="rounded-pill" style="background-color: #343a40">
            <a href="https://www.yiiframework.com/doc/guide/2.0/zh-cn">
                <img width="50"  src="http://head.xxroom.xyz/Fg96VkZrKjg-Sht78W8lH3qB6J81" class="rounded-circle left" >
                <p class="left" style="line-height: 50px"> Yii2文档</p>
            </a>
        </div>
        <div class="rounded-pill" style="background-color: #9c73d6">
            <a href="http://c.biancheng.net/csharp/10/">
                <img width="50" height="50"  src="http://head.xxroom.xyz/FokaqhYt4siUaIMmW2Ci7Rmnee2Q" class="rounded-circle left" >
                <p class="left" style="line-height: 50px">C#文档</p>
            </a>
        </div>
    </div>
    <div class="row" style="text-align: center;margin: 3vh 0 0 0">
        <div class="col-lg-3 col-6" style="text-align: center">
            <div class="rounded-circle">
                <img onclick="javascript:goblogpage()" src="http://head.xxroom.xyz/FpeVGaaWdUdpjZobBX6JoDjhLj0r" class="card-img-top rounded-lg" alt="...">
            </div>
        </div>
        <div class="col-lg-3 col-6 ">
            <div class="rounded-circle">
                <a href="navpage.html" target="_self">
                    <img  src="http://head.xxroom.xyz/FvXjQJlIGwrboV_QeyWPvkMjfNo7" class="card-img-top  rounded-lg" alt="...">
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6 ">
            <div class="rounded-circle">
                <img onclick="javascript:gopic()" src="http://head.xxroom.xyz/FivG6lflGprGVDGB9gZaZrvF_nmb" class="card-img-top rounded-lg" alt="...">
            </div>
        </div>
        <div class="col-lg-3 col-6 ">
            <div class="rounded-circle">
                <a href="http://file.xxroom.xyz/" target="_self"><img  src="http://head.xxroom.xyz/FvJZK8v-NhHK6rsUq50w2iDlDJPh" class="card-img-top  rounded-lg" alt="..."></a>
            </div>
        </div>
    </div>
</div>

<!--新增导航-->
<div class="modal fade" id="navAddPage" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">导航新增</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">标题</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="title">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="logo" class="col-sm-2 col-form-label">图标</label>
                        <div class="col-md-9">
                            <img border="0" id="logoPreview" style="width: 64px;height: 64px" src="http://head.xxroom.xyz/photo_icon.png" onclick="$('#logo').click()">
                            <input type="file" onchange="preview(this)" hidden id="logo" placeholder="logo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">分类</label>
                        <div class="col-sm-10">
                            <select id="category" style="margin-top:5px">
                                <option value="10">社区</option>
                                <option value="20">前端</option>
                                <option value="30">后端</option>
                                <option value="35">产品</option>
                                <option value="40">运营</option>
                                <option value="50">视频</option>
                                <option value="51">游戏</option>
                                <option value="60">爱好</option>
                                <option value="70">常用</option>
                                <option value="75">第三方</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="href" class="col-sm-2 col-form-label">链接</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="href">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="javascript:navSave()">保存</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
    });

    function preview(e) {
        //为文件读取成功设置事件

        let file = $(e)[0].files[0];
        if(!/image\/\w+/.test(file.type)) //判断获取的是否为图片文件
        {
            alert("请确保文件为图像文件");
            return false;
        }
        //创建读取文件的对象
        let reader = new FileReader();
        reader.onload = function (e) {
            let imgFile = e.target.result;
            $("#logoPreview").attr('src',imgFile);
        };
        //创建文件读取相关的变量
        reader.readAsDataURL(file);
    }
    /*保存*/
    function navSave(){
        qn_upload()
        let img = $("#logoPreview").attr('src');
        let title =  $("#title").val();
        let href = $("#href").val();
        let category = $("#category").val();
        if(img == 'http://head.xxroom.xyz/photo_icon.png'){
            alert("请上传图片");
            return false;
        }else if(!title){
            alert("标题不能为空")
            return false;
        }if(!href){
            alert("链接不能为空")
            return false;
        }
        $.ajax({
            type: "post",
            dataType: "json",
            url: "/web/nav/navSave",
            data: {img:img,title:title,href:href,category:category},
            beforeSend: function(request) {
                request.setRequestHeader("Token", getToken());
            },
            async: false,
            success: function (result) {
                alert(result.msg)
            },
            error: function (result) {
                alert(result.msg);
                return false;
            }
        });
    }
    function qn_upload(){
        $.ajax({
            type: "get",
            dataType: "json",
            url: "/web/img/qiniuToken",
            data: {},
            beforeSend: function(request) {
                request.setRequestHeader("Token", getToken());
            },
            async: false,
            success: function (result) {
                token = result.data.token;
            }
        });
        if(!token){
            alert('token获取失败');return false;
        }

        var file = $("#logo")[0].files[0];
        if(!file){
            return false;
        }
        //多图片上传
        //网络协议
        var protocolStr = document.location.protocol;
        var url = (protocolStr == 'http:') ? 'http://up.qiniup.com' : 'https://up.qbox.me';

        let form = new FormData();
        form.append('file',file);
        form.append('token',token);
        $.ajax({
            url: url,
            type: 'POST',
            dataType:'json',
            contentType: false,
            processData: false,
            data: form,
            async: false,
            success: function (rst) {
                let img = "http://head.xxroom.xyz/" + rst.key;
                add_attachment(img,file.size);
                $("#logoPreview").attr('src',img);
                return
            },
            error: function () {
                alert('图标上传失败');
                return false;
            }
        });
    }

    //增加附件
    function add_attachment(path,size){
        let url = '/web/img/addAttachment';
        $.ajax({
            url: url,
            type: 'POST',
            dataType:'json',
            async:false,
            data: {path:path,size:size},
            beforeSend: function(request) {
                request.setRequestHeader("Token", getToken());
            },
            success: function (rst) {
                return
            },
            error: function () {
                return
            }
        });
    }

</script>
